/* .menu{
    margin-right: 20px;
    text-align: left;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 1px 0;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #4885ed;
  }
  nav a:hover {
    color: #4885ed;
    background-color: #efefef;
  }
  nav a.active {
    color: #4885ed;
  } */